<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847705134987-4rpqii01hvl4o5dsi7h5lqrtfvdaavpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847705134987-4rpqii01hvl4o5dsi7h5lqrtfvdaavpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBehK-crSBjw0Zs-s2-_eogcLQJ3VH-dT0</string>
	<key>GCM_SENDER_ID</key>
	<string>847705134987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.JBCodes.SwiftUIFirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebaseauthentic-320f1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebaseauthentic-320f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847705134987:ios:8d0414d20b98825f9cc18e</string>
</dict>
</plist>